<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
    <title>Users with templates</title>
</head>
<body>
    <h1>All the Users</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
        {% for user in first %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.firstname }} {{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.age }}</td>
        </tr>
        {% endfor %}
    </table>
    <section>
        <h1>Add a User</h1>
        <div>
            <form action="form" method="post">
                {% csrf_token %}
                <div class="labels">
                    <div>
                        <label for="name">First Name:</label>
                        <input class="box" type="text" id="firstname" name="firstname">
                        <label for="name">Email:</label>
                        <input class="box" type="text" id="email" name="email">
                    </div>
                    <div>
                        <label for="name">Last Name:</label>
                        <input class="box" type="text" id="lastname" name="lastname">
                        <label for="name">Age:</label>
                        <input class="box" type="text" id="age" name="age">
                    </div>
                </div>
                <button>Add</button>
            </form>
        </div>
        <br>
        <a class="link" href="update/">Update user</a>
    </section>
</body>
</html>