*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 970px;
    margin: 0 auto;
}
.container{
    position: relative;
}
header{
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 2;
}
body header img{
    height: 70px;
    width: 70px;
}
body header h1{
    font-size: 40px;
}
body header span{
    color: #21659e;
}
nav{
    position: absolute;
    background: radial-gradient(#4b7eab, #26689f);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    top: 55px;
    z-index: 1;
}
nav h1{
    padding-left: 20px;
    color: white;
}
main{
    padding-top: 100px;
    width: 970px;
    display: flex;
}
.gradient{
    width: 300px;
    background: linear-gradient(to bottom, #e4e3e4, white); 
}
.gradient-two{
    width: 100%;

    background: linear-gradient(to bottom, #e4e3e4, white);
}
main section section h1{
    font-size: 17px;
}
.inter{
    font-size: 14px;
    font-weight: bold;
}
main section div{
    width: 250px;
    padding-left: 5px;
    padding-top: 10px;
}
main section div span{
    color: #cf302d;
}
.watch-video{
    background-color: #437fb0;
    padding: 8px 40px;
    color: white;
    border: #437fb0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #949699;
}
.more-resources{
    color: white;
    background-color: #ee8100;
    padding: 8px 28px;
    border-radius: 5px;
    border: #ee8100;
    margin-top: 5px;
    box-shadow: 2px 2px 2px #949699;
}
.second-container{
    width: 200px;
    margin-left: 5px;
    margin-top: 25px;
    border-top: 2px solid #949699;
    margin-bottom;
}
.ad-background{
    height: 285px;
    position: relative;
    padding-top: 15px;
}
.ninja{
    height: 120px;
    position: absolute;
    left: 60px;
    bottom: 270px;
}
.learn-more{
    position: absolute;
    left: 27px;
    bottom: 220px;
    background-color: #31c8e0;
    padding: 7px 30px;
    border: 2px solid #31c8e0;
    border-radius: 5px;
    color: white;
    box-shadow: 3px 3px 2px black;
}
.reinvent-career{
    position: absolute;
    width: 180px;
    text-align: center;
    bottom: 410px;
    color: white;
    font-weight: lighter;
    font-weight: bold;
}
.home-image{
    height: 20px;
    width: 20px;
}
.dns{
    color: #437fb0;
}
.number{
    color: #31c8e0;
    font-size: 20px;
}
.phone{
    align-items: center;
    height: 40px;
    width: 40px;
}
.first-section{
    display: flex;
    justify-content: space-between;
    width: 690px;
    
}
.time{
    font-size: 10px;
}
.contact{
    display: flex;
    justify-content: center;
    margin-right: -60px;
    
}
.international{
    font-size: 10px;
}
.numbers{
    width: 900px;
}
.clients-section{
    width: 690px;
    border-top: 2px solid #949699;
}
.clients{
    padding-bottom: 5px;
    color: #26689f;
}
.computers{
    padding-bottom: 5px;
    font-size: 14px;
}
.list{
    padding-bottom: 5px;
    font-size: 14px;
}
.clients-servers{
    padding-left: 40px;
    font-size: 14px;
}
.web{
    text-decoration: none;
    color: #437fb0;
}
.center-client{
    width: 690px;
    display: flex;
    justify-content: center;
}
.client-serverimage{
    height: 100px;
}
.title-happen{
    color: #26689f;
}
.width-orderl{
    width: 690px;
    padding-left: 40px;
    font-size: 14px;
}
.last-section{
    display: flex;
    justify-content: start;
    border: 5px solid #0285e2;
    box-shadow: 3px 3px 2px #7c8896;
    width: 690px;
    margin-top: 20px;
    height: 200px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.html-image{
    height: 150px;
}
.big-three{
    width: auto;
    font-size: 14px;
}
.html-css{
    color: #26689f;
    padding-bottom: 5px;
}
.server{
    padding-bottom: 5px;
}