<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
    <title>Winners board</title>
</head>
<body>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Number of attempts</th>
        </tr>
        {% for winner in winners %}
        <tr>
            <td>{{ winner.firstname }}</td>
            <td>{{ winner.lastname }}</td>
            <td>{{ winner.attempts }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>