<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bookdetail.css' %}">
    <title>Author detail</title>
</head>
<body>    
    <h1>{{author.first_name}} {{author.last_name}}</h1>
    <p>ID :{{author.id}}</p>
    <div class="description-group">
        <label for="">Notes: </label>
        <textarea name="" id="">{{author.notes}}</textarea>
    </div>
    <h2>Books</h2>
    <ul>
        <li></li>
    </ul>
    <form action="" method="post">
        <select name="bookadd" id="">
            {% for book in books %}
            <option value="">{{book.title}}</option>
            {% endfor %}
        </select>
        <button>Add</button>
    </form>
</body>
</html>