*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
    /* width: 900px; */
}
.navigation{
    display: flex;
    color: white;
    align-items: center;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    color: white;
    list-style: none;
    align-items: center;
    margin-left: 20px;
}
.button-signout{
    border: 2px solid black;
    background-color: #14a2b8;
    color: white;
    padding: 8px 20px;
}
.nav-links li{
    padding: 10px 20px;
}
nav h1{
    font-size: 25px;
}
.container{
    margin: 20px auto; 
    display: flex;
    justify-content: center; 
    max-width: 970px; /
}
.container1{
    position: relative;
    border: 2px solid gray;
    width: 450px;
    height: 270px;
}
.profile-header{
    background-color: #14a2b8;
    height: 60px;
    border: 2px #14a2b8;  
}
.user-circle{
    height: 70px;
    margin-left: 20px;
    position: absolute;
    top: 25px;
}
.paragraph{
    margin-left: 20px;
    margin-top: 50px;
}
.gearicon{
    height: 20px;
    margin-top: 15px;
    align-items: center;
}
.map{
    height: 20px;
    padding-right: 5px;
}
.editprofile{
    margin-left: 5px;
}
.container2{
    border: 2px solid gray;
    width: 450px;
    height: 200px;
    margin-top: 20px;
}
.education-header{
    display: flex;
    align-items: center;
    background-color: #333333;
    height: 50px;
}
.education-heading{
    color: white;
    margin-left: 20px;
}
.education-paragraph{
    margin-top: 20px;
    margin-left: 20px;
}
.grey{
    color: gray;
}
.container3{
    border: 2px solid gray;
    width: 250px;
    height: 190px;
}
.connection-requests{
    background-color: #333333;
    height: 50px;
    display: flex;
    justify-content: space-around;
    color: white;
    display: flex;
    align-items: center;
}
.button-requests{
    border: 2px solid #333333;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.second-section{
    margin-left: 20px;
}
.container4{
    border: 2px solid gray;
    width: 250px;
    height: 280px;
    margin-top: 20px;
}
.top-border{
    border-top: 1px solid gray;
    height: 50px;
    margin-top: 18px;
    width: 250px;
    display: flex;
    align-items: center;
}
.viewmore{
    margin-left: 20px;
}
.your-connections{
    background-color: #333333;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.button-connections{
    border: 2px solid #333333;
    border-radius: 50%;
    height: 30px;
    width: 40px;
}
.flexname-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flextodd{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}
.flexphil{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}
.phil{
    border: 2px solid black;
    border-radius: 50%;
    height: 40px;
}
.todd{
    border: 2px solid black;
    border-radius: 50%;
    height: 40px;
}
.philspace{
    margin-left: 10px;
}

.toddspace{
    margin-left: 10px;
}
.accept-decline{
    display: flex;
    padding: 10px;
}
.accept{
    height: 40px;
    margin-right: 10px;
}
.decline{
    height: 40px;
}
.adrien{
    border: 2px solid black;
    border-radius: 50%;
    height: 40px;
    
}
.flexadrien{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}
.adrienspace{
    margin-left: 10px;
}
.anne{
    border: 2px solid black;
    border-radius: 50%;
    height: 40px;
}
.flexanne{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}
.annespace{
    margin-left: 10px;
}
.alayne{
    border: 2px solid black;
    border-radius: 50%;
    height: 40px;
}
.flexalayne{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}
.alaynespace{
    margin-left: 10px;
}
