table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .section_one{
    width: 80%;
    margin: 0 auto;
  }
  .section_two{
    margin: 0 auto;
    width: 80%;
  }