*{
    margin: 0;
    padding: 0;

}

textarea{
    border: 2px solid black;
    resize: none;
    margin-top: 10px;
    height: 400px;
    width: 600px;
}

body{
    margin-left: 20px;
    margin-top: 20px;
}
.description-group{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
}