<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Books/Authors</title>
</head>
<body>
    <section>
        <h1>Add a Book</h1>
        <form action="addbook" method="post">
            {% csrf_token %}
            <div>
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </div>
            <div class="description-group">
                <label for="">Description</label>
                <textarea name="description" id="description"></textarea>
            </div>
            <button>Add</button>
        </form>
    </section>
    <section>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
            {% for book in books %}
            <tr>
                <td>{{ book.id}}</td>
                <td>{{ book.title}}</td>
                <td><a href="bookdetail/{{book.id}}">View</a></td>
            </tr>
            {% endfor %}
        </table>
    </section>
</body>
</html>