*{
    margin: 0;
    padding: 0;
}
body{
    width: 970px;
    background-color: blue;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
