*{
    padding: 0;
    margin: 0;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
section{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
body{
    margin: 0 auto;
    width: 90%;
}
h1{
    padding: 20px;
    text-align: center;
}
label{
    padding: 10px;
}
button{
    padding: 5px 5px;
    width: 50px;
    align-items: center;
    margin-top: 10px;
    border: 2px solid black;
    background-color: aquamarine;
    box-shadow: 2px 2px black;
}

input{
    border: 2px solid black;
   
}
.second-section{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border-top: 2px solid black;
    text-align: center;
}
ul{
    text-align: center;
    list-style: none;
}